{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/calendar.css">

<h1>
    <a href="/?year={{ prev_year }}&month={{ prev_month }}">←</a>
    <a href="/year_view?year={{ year }}">{{ month_name }} - <span id="year-link">{{ year }}</span></a>
    <a href="/?year={{ next_year }}&month={{ next_month }}">→</a>
</h1>

<!-- Availability Manager-->
<div id="availabilty-container">
    <div id="availabilty-header" class="availabilty-btn">Availabilty Manager</div>
    <div id="availabilty-btn-box">
        {% for day in range(1, num_days+1) %}      

            {% if day == 1 or (day + start_weekday) % 7 == 1 %}

                <div class="availabilty-btn" style="top: calc({{ ((day + start_weekday) / 7) | round(0, 'ceil') }} * 92px + 71px);">
                    <a href="/week_view?year={{ year }}&month={{ month }}&day={{ day }}">Edit Week</a>
                </div>

            {% endif %}

        {% endfor %}
    </div>
</div>

<div class="grid">
    <!-- Weekday Headers -->
    <div class="weekday">Sun</div>
    <div class="weekday">Mon</div>
    <div class="weekday">Tue</div>
    <div class="weekday">Wed</div>
    <div class="weekday">Thu</div>
    <div class="weekday">Fri</div>
    <div class="weekday">Sat</div>

    <!-- Empty Slots for Alignment -->
    {% if start_weekday < 7 %}
        {% for _ in range(start_weekday) %}
        <div class="block empty"></div>
        {% endfor %}
    {% endif %}

    <!-- Days of the Month -->
    {% for day in range(1, num_days+1) %}


        {% set day_of_week = (start_weekday + day - 1) % 7 %}
        <div class="block{% if day_of_week == 0 or day_of_week == 6 %} weekend{% endif %}"
             onclick="taskView({{year}},{{month}},{{day}})">
            
            <div class="date-box">{{ day }}</div>

            <!-- Display Events for the Day -->
            <div id="{{ day }}" class="events"></div>

        </div>

    {% endfor %}
</div>

<script>
    const year = {{ year }};
    const month = {{ month }};
    const num_per_priority = {{ num_per_priority|tojson|safe }};


    Object.entries(num_per_priority).forEach(([day, priorities]) => {
        const box = document.getElementById(day);
        if (box) {
            priorities.forEach((num, index) => {
                if (num > 0) { // Only display if there are events
                    const circle = document.createElement('div');
                    circle.classList.add('event');
                    circle.classList.add(`priority-${index + 1}a`);
                    circle.innerText = `${num}`;
                    box.appendChild(circle);
                }
            });
        }
    });
</script>
{% endblock %}
