<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/base.css">

    <script>

        const tyear = {{ today.year }};
        const tmonth = {{ today.month }};
        const tday = {{ today.day }};

        document.addEventListener("DOMContentLoaded", function () {
            const links = document.querySelectorAll(".nav-bar a");
            const currentPath = window.location.pathname;

            links.forEach(link => {
                if (link.getAttribute("href") === currentPath) {
                link.classList.add("active");
                } else if (
                    (currentPath === '/week_view' ||
                    currentPath === '/year_view' ||
                    currentPath === '/years_view' ) &&
                    link.getAttribute("href") === '/'
                ) {
                    link.classList.add("active");
                }
            });

            document.addEventListener("contextmenu", function (e) {
                e.preventDefault();
            });

        });
    </script>

    <script src="/static/js/base.js"></script>
</head>

<body>

    <!-- NAV-BAR -->

    <div class="nav-bar">
        <a href="/settings">Settings</a>
        <a href="/">Calendar</a>
        <a href="/event_editor">Event Manager</a>
        <button onclick="openPopup('optimize')">Optimize Schedule</button>
        <button id="add-event-btn" onclick="openEventPopup(null)">Add Event</button>

    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>


    <div id="tasks">
        <h1 id="tasks-heading"></h1>

        <!-- List Events for the selected Day -->
        <!-- <div id="tasks-list"></div> -->

        <div id="todo-grid">
            <div id="todo-labels">
                {% for hour in range (8, 13) %}
                    <div class="todo-label">{{ hour }}</div>
                {% endfor %}
                {% for hour in range (1, 12) %}
                    <div class="todo-label">{{ hour }}</div>
                {% endfor %}
            </div>

            <div id="todo-lines">
                {% for hour in range (0, 16) %}
                    {% if hour != 0 %}
                        <div class="todo-hour"></div>
                    {% endif %}
                    <div class="todo-quarter"></div>
                    <div class="todo-quarter"></div>
                    <div class="todo-quarter"></div>
                {% endfor %}
            </div>

            <!-- tasks fill in here -->
            <div id="todo-column"></div>
        </div>

    </div>

    <div id="event-popup" class="popup hidden">
        <form id="event-form">
            <label>Name: <input type="text" id="event-name" name="name" maxlength="28" placeholder="max 28 characters" required></label>
            <label>Due Date: <input type="datetime-local" id="event-due-date" name="due_date" required></label>
            <label>Min Time (mins): <input type="number" id="event-min-time" name="min_time" min="0" placeholder="30" required></label>
            <label>Max Time (mins): <input type="number" id="event-max-time" name="max_time" min="0" placeholder="180" required></label>
            <label>Priority: <input type="number" id="event-priority" name="priority" min="1" max="5" placeholder="1 - 5" required></label>
            <button type="submit">Save</button>
            <button type="cancel" onclick="closePopup('event')">Cancel</button>
            <button type="delete" id="delete-event-btn" onclick="deleteEvent()">Delete</button>
        </form>
    </div>

    <div id="optimize-popup" class="popup hidden">
        <button type="optimize" onclick="optimize('greedy')">Greedy Optimization</button>
        <button type="opyimize" onclick="optimize('genetic')">Genetic Optimimzation</button>
        <button type="cancel" onclick="closePopup('optimize')">Cancel</button>
    </div>

</body>

</html>
