<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/base.css">

    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll(".nav-bar a");
        const currentPath = window.location.pathname;

        links.forEach(link => {
            if (link.getAttribute("href") === currentPath) {
            link.classList.add("active");
            } else if (
                (currentPath === '/week_view' ||
                currentPath === '/year_view' ||
                currentPath === '/years_view' ) &&
                link.getAttribute("href") === '/'
             ) {
                link.classList.add("active");
             }
        });

        document.addEventListener("contextmenu", function (e) {
            e.preventDefault();
        });
        });
    </script>
</head>

<body>

    <!-- NAV-BAR -->

    <div class="nav-bar">
        <a href="/settings">Settings</a>
        <a href="/">Calendar</a>
        <a href="/event_editor">Event Manager</a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>


    <div id="tasks">
        <h1 id="tasks-heading"></h1>

        <!-- List Events for the selected Day -->
        <div id="tasks-list"></div>

    </div>

    <script>
        function taskView(y, m, day) {
            fetch(`/events_on_day?year=${y}&month=${m}&day=${day}`)
                .then(response => response.json())
                .then( events => {
                    const list = document.getElementById('tasks-list');
                    document.getElementById('tasks-heading').innerText = `${m}/${day}, ${y}`;
                    if (list) {
                        list.innerHTML = "";
                        events.forEach( event  => {

                            div = document.createElement('div');

                            div.classList.add(`priority-${event.priority}a`);
                            div.classList.add("task");

                            div.innerText = event.name

                            list.appendChild(div);
                        });
                    };               
                });
        };

        taskView({{ today.year }}, {{ today.month }}, {{ today.day }});
    </script>
</body>

</html>
