{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/editor.css">
<div class="list-container">
    <button id="todo-btn" class="collapse-btn" onclick="toggleListVisibility('todo','Scheduled Events')">Hide Scheduled Events</button>
    <div id="todo" class="list">
        {% for event in scheduled %}
        <div class="event-item">
            <div class="event" onclick="openEventPopup({{ event.id }})" title="click to edit">
                <span class="priority priority-{{ event.priority }}a">{{ event.priority }}</span>
                <strong>{{ event.name }}</strong> 
                (Due: {{ event.due_date }})
                <span class="right">Scheduled: {{ event.start }}</span>
            </div>
            <button type="toggle" onclick="toggleDone({{ event.id }}, 1)">Mark Done</button>
        </div>
        {% endfor %}
    </div>
</div>

<div class="list-container">
    <button id="events-btn" class="collapse-btn" onclick="toggleListVisibility('events','Unscheduled Events')">Hide Unscheduled Events</button>
    <div id="events" class="list">
        {% for event in unscheduled %}
        <div class="event-item" onclick="openEventPopup({{ event.id }})" title="click to edit">
            <span class="priority priority-{{ event.priority }}">{{ event.priority }}</span>
            <strong>{{ event.name }}</strong> 
            (Due: {{ event.due_date }})
        </div>
        {% endfor %}
    </div>
</div>

<div class="list-container">
    <button id="done-btn" class="collapse-btn" onclick="toggleListVisibility('done','Completed Events')">Hide Completed Events</button>
    <div id="done" class="list">
        {% for event in completed %}
        <div class="event-item">
            <div class="event" onclick="openEventPopup({{ event.id }})" title="click to edit">
                <span class="priority priority-{{ event.priority }}">{{ event.priority }}</span>
                <strong>{{ event.name }}</strong> 
                (Due: {{ event.due_date }})
            </div>
            <button type="toggle" onclick="toggleDone({{ event.id }}, 0)">Unmark Done</button>
        </div>
        {% endfor %}
    </div>
</div>

<script src="/static/js/editor.js"></script>
{% endblock %}
