<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/week.css">
    <script>
        const startHour = {{ start_hour }};
        const year = {{ year }};
        const month = {{ month }};
        const day = {{ day }};
    </script>
</head>
<body>
    <h1>
        <a href="/week_view?year={{ prev_year }}&month={{ prev_month }}&day={{ prev_day }}">←</a>
        <a class="label" href="/?year={{ year }}&month={{ month }}">{{ week_days[0].date() }} - {{ week_days[6].date() }}</a>
        <a href="/week_view?year={{ next_year }}&month={{ next_month }}&day={{ next_day }}">→</a>
    </h1>
    <div class="weekdays">
        <div class="weekday">Sun</div>
        <div class="weekday">Mon</div>
        <div class="weekday">Tue</div>
        <div class="weekday">Wed</div>
        <div class="weekday">Thu</div>
        <div class="weekday">Fri</div>
        <div class="weekday">Sat</div>
    </div>

    <div class="week-grid">
        <div class="time-labels">
            {% for hour in range(start_hour, start_hour + 16) %}
                <div class="time-label">{{ hour }}:00</div>
            {% endfor %}
        </div>
        <div class="grid-lines">
            {% for hour in range(start_hour, start_hour + 16) %}
                {% if hour != start_hour %}
                    <div class="hour"></div>
                {% endif %}
                <div class="quarter"></div>
                <div class="quarter"></div>
                <div class="quarter"></div>
            {% endfor %}
        </div>
        <div class="week-container">
            
            <div class="day-column weekend" data-day="0"></div>
            <div class="day-column" data-day="1"></div>
            <div class="day-column" data-day="2"></div>
            <div class="day-column" data-day="3"></div>
            <div class="day-column" data-day="4"></div>
            <div class="day-column" data-day="5"></div>
            <div class="day-column weekend" data-day="6"></div>
        </div>
    </div>

    <button id="save">Save</button>
    <script src="/static/js/week.js"></script>
</body>
</html>

