:root {
    --priority-1: #00b3ff;
    --priority-2: #83ff00;
    --priority-3: #7a65ff;
    --priority-4: #ffe358;
    --priority-5: #ff104e;
    --priority-6: #bbbbbb;
    --priority-1a: #00b3ffb0;
    --priority-2a: #83ff00b0;
    --priority-3a: #7a65ffb0;
    --priority-4a: #ffe358b0;
    --priority-5a: #ff104eb0;
    --priority-6a: #bbbbbbb0;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    overflow: hidden;
    user-select: none;
}

/*  MARK: Nav-bar
 */

.nav-bar {
    display: flex;
    justify-content: flex-start;
    background-color: #DDD;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 800px;
    z-index: 1000;
}

.nav-bar a {
    color: Black;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.nav-bar a:hover {
    border: 1px black solid;
}

.nav-bar a.active {
    background-color: #bbb;
    border-bottom: 3px black solid;
}

.content {
    margin-top: 45px; /* Prevent content from overlapping navbar */
    width: 800px;
}

.priority-1 { background-color: var(--priority-1); }
.priority-2 { background-color: var(--priority-2); }
.priority-3 { background-color: var(--priority-3); }
.priority-4 { background-color: var(--priority-4); }
.priority-5 { background-color: var(--priority-5); }
.priority-6 { background-color: var(--priority-6); }
.priority-1a { background-color: var(--priority-1a); }
.priority-2a { background-color: var(--priority-2a); }
.priority-3a { background-color: var(--priority-3a); }
.priority-4a { background-color: var(--priority-4a); }
.priority-5a { background-color: var(--priority-5a); }
.priority-6a { background-color: var(--priority-6a); }

/* MARK: Tasks
 */

#tasks {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 800px;
    border-left: black solid 2px;
    background-color: #ddd;
    text-align: center;
}

#tasks-heading {
}

#todo-grid {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;

    max-height: 650px;
    height: 960px;
    width: 180px;
    margin-left: 10px;
    overflow-y: scroll;
    position: relative;

    border: 1px solid black;
}

#todo-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5px;
    height: 960px;
    position: absolute;
    left: 2px;
}

.todo-label {
    height: 60px;
    padding-right: 10px;
    font-size: 14px;
}

#todo-lines {
    z-index: 1;
    height: 960px;
    width: 160px;
    top: 0px;
    left: 20px;
    position: absolute;
    border-left: 1px solid black;
}

.todo-hour {
    height: 14px;
    border-bottom: 1px solid black;
}

.todo-quarter {
    height: 14px;
    border-bottom: 1px solid #ccc;
}

#todo-column {
    position: relative;
    left: 11px;
    width: 160px;
}


.task {
    position: absolute;
    cursor: pointer;
    width: 160px;
    z-index: 6;
}

.task:hover {
    border: black solid 1px;
}

.task-name {
    font-weight: bold;
}

.task-time {
    font-size: small;
}





/* MARK: Popup
 */

.right {
    right: 15px;
    position: absolute;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0px;
}

button:hover {
    background-color: #218838;
}

button[type="cancel"] {
    background-color: #dc3545;
    position: absolute;
    right: 20px;
}

button[type="delete"] {
    background-color: #dc3545;
    position: absolute;
    right: 120px;
}

button[type="toggle"] {
    background-color: #00000000;
    color: #000;
    position: absolute;
    right: 15px;
    padding: 0px;
}

button[type="cancel"]:hover {
    background-color: #c82333;
}

button[type="delete"]:hover {
    background-color: #fd283e;
}

button[type="toggle"]:hover {
    font-weight: bold;
}

#add-event-btn {
    margin-top: 10px;
}

.popup {
    display: block;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    width: 90%;
    max-width: 400px;

    text-align: left;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}