body {
    background-color: #f5f5f5;
    text-align: center;
    user-select: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

h1 a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 1.5em;
}

h1 a:hover{
    color: blue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 20px auto;
    max-width: 700px;
}

.year {
    grid-template-columns: repeat(4, 1fr);
    max-width: 400px;
}

.years {
    grid-template-columns: repeat(5, 1fr);
    max-width: 500px;
}

.weekday {
    background-color: #ddd;
    font-weight: bold;
    padding: 10px;
}

.block {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding-bottom: 10px;
    height: 75px;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.block:hover {
    border: 1px solid #000;
}

.block.empty {
    background-color: transparent;
    border: none;
}

.block.weekend {
    background-color: #DDD;
}

.date {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.date-box {
    border-bottom: 1px solid #000;
    background-color: rgb(100 100 100 / 25%);
}

.events {
    margin: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 4px;
    column-gap: 6px;
    margin-top: 8px;
}

.event {
    padding: 4px;
    border-radius: 15px;
    font-size: 12px;
    width: 15px;
    height: 15px;
}

.priority-1 {
    background-color: var(--priority-1);
}

.priority-2 {
    background-color: var(--priority-2);
}

.priority-3 {
    background-color: var(--priority-3);
}

.priority-4 {
    background-color: var(--priority-4);
}

.priority-5 {
    background-color: var(--priority-5);
}